/* Generals */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

*:focus {
    outline: none;
}

.v-hidden {
    width: 0;
    height: 0;
    visibility: hidden;
}

/* Header */
.header {
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 10;
}

.header-content {
    height: 72px;
}

/* Body */
.body {
    background-color: #FAFAFA;
    margin-top: 72px;
    padding: 30px 0;
}


/* Profile and function */
.profi-and-funcs {
    background-color: #fff;
    border-radius: 12px;
    height: max-content;
}

.profi-and-funcs .profi {
    margin: 30px;
    padding: 0;
}

.profi-and-funcs .profi .name {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}

.profi-and-funcs .profi .email {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-align: left;
}

.profi-and-funcs .profi img {
    vertical-align: middle;
    border-style: none;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.profi-and-funcs .profi .col-12 {
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    display: flex;
}

.profi-and-funcs .funcs .col-12 {
    vertical-align: middle;
    align-items: center;
    margin: 0 auto;
    display: flex;
}

.profi-and-funcs .funcs .detail img {
    height: 18px;
    width: 18px;
    object-fit: cover;
    margin: 0 5px;
    padding: 0;
}

.profi-and-funcs .funcs .detail {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    margin: 6px 0;
}

.profi-and-funcs .funcs {
    padding: 16px;
    border-top: 1px solid #EEEEEE;
}

/* Items */
.content {
    background-color: #fff;
    border-radius: 12px;
    padding: 16px;
}

.content .items .title {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
}

.content .items .title .col-12 {
    border-bottom: 1px solid #EDEDED;
    margin: 16px auto 0 auto;
}

.content .items .panels-selector {
    vertical-align: middle;
    align-items: center;
    display: flex;
    margin: 0 auto;
}

.content .items .panels-selector .panel {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #EEE;
}

.content .items .panels-selector .panel.selected {
    color: #FE6E00;
    border-bottom: 1px solid #FE6E00;
}

.content .items .detail-info {
    justify-content: center;
}

.content .items .detail-info .info {
    border: 1px solid #E5E5E5;
    border-radius: 12px;
    margin: 16px 8px 0px 8px;
    padding: 16px;
}

.content .items .detail-info .info .detail-title {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: justify;
    color: #212121;
}

.content .items .detail-info .info .price {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FE6E00;
    margin: 3px 0;
}

.content .items .detail-info .info .exp-date {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    color: #616161;
    margin: 3px 0;
}

.content .items .detail-info .info .count, .content .items .detail-info .info .used-count, .content .items .detail-info .info .avai-remain {
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin: 3px 0 16px 0;
}

.content .items .detail-info .col-12.info {
    max-width: calc(50% - 32px);
}

.content .items .detail-info .info .used-count {
    text-align: center;
    border-left: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
} 

.content .items .detail-info .info .avai-remain {
    text-align: end;
}

.btn-white-bg {
    font-weight: 500;
    font-size: 14px;
    color: #F0821B;
    border: 1px solid #F0821B;
    background-color: #fff;
    border-radius: 8px;
    padding: 6px;
    text-align: center;
    width: calc(100% - 2px);
    min-width: max-content;
}

.btn-orange-bg {
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    border: 1px solid #F0821B;
    background-color: #F0821B;
    border-radius: 8px;
    text-align: center;
    width: calc(100% - 2px);
    min-width: max-content;
    float: right;
    padding: 6px 15px;
}

/* Review */
.content .items .review-info {
    border: 1px solid #EEE;
    border-radius: 8px;
    margin: 16px 0 0 0;
}

.content .items .review-info .info .col-12 .row {
    vertical-align: middle;
    align-items: center;
    margin: 0 auto;
    justify-content: left;
    display: flex;
}

.content .items .review-info .info .col-12 .row.review {
    padding: 8px 0 0 0;
}

.content .items .review-info .info .col-12 .row.bottom {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 8px;
    border-top: 1px solid #EEE;
}

.content .items .review-info .info .bottom .btn-orange-bg {
    width: max-content;
    border-radius: 0;
    padding: 10px 20px;
}

.content .items .review-info .info img {
    width: 54px;
    height: 54px;
}

.content .items .review-info .info .title {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.content .items .review-info .info .pack {
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
}

.content .items .review-info .info .price {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: left;
}

.content .items .review-info .info .price .number {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

/* Create Review */
.content .items .review-info .info .col-12 .row.create {
    padding-top: 8px;
    margin-top: 8px;
    border-top: 1px solid #EEE;
    justify-content: left;
}

.content .items .review-info .info .col-12 .create .rating, .content .items .review-info .info .col-12 .create .upload-img, .content .items .review-info .info .col-12 .create .comment {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: left;
    display: flex;
    vertical-align: middle;
    align-items: center;
    margin: 8px 0;
}

.content .items .review-info .info .col-12 .create .upload-img.row, .content .items .review-info .info .col-12 .create .upload-img .row {
    margin: 0;
}

.content .items .review-info .info .col-12 .create .comment.detail {
    justify-content: center;
}

.content .items .review-info .info .col-12 .create .upload-img .btn-add-image {
    border: 1px solid #F0821B;
    background-color: #fff;
    color: #F0821B;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 12px;
    border-radius: 8px;
    margin: 0 16px;
}

.content .items .review-info .info .col-12 .create .list-img .col-3 {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    margin: 5px 0;
    padding: 5px;
    width: 73px;
    height: 73px;
}

.content .items .review-info .info .col-12 .create .list-img .col-3 img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.content .items .review-info .info .col-12 .create .upload-img .btn-add-image img {
    height: 15px;
    width: 15px;
    margin-right: 8px;
}

.content .items .review-info .info .col-12 .create .list-img {
    margin: 0;
}

.content .items .review-info .info .col-12 .create .list-img .rmv-img-reg {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 15px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin: 0 auto;
    justify-content: center;
}

.content .items .review-info .info .col-12 .create .list-img .rmv-img-reg img {
    width: 10px;
    height: 10px;
}

.content .items .review-info .info .col-12 .create .list-img .add-more-image {
    color: #9E9E9E;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    border: 1px dashed #cdcdcd;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.content .items .review-info .info .col-12 .create .list-img .add-more-image .col-12 {
    margin: 0;
    padding: 0;
}

.content .items .review-info .info .col-12 .create .list-img .add-more-image img {
    height: 15px;
    width: 15px;
    margin: 0px 0 -18px 0;
    padding: 0;
}

.content .items .review-info .info .create-bottom {
    padding: 0;
}

.content .items .review-info .info .create-bottom .col-12 {
    text-align: left;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    margin: 8px auto 16px auto;
}

.content .items .review-info .info .create-bottom .btn-orange-bg {
    width: max-content;
    padding: 10px 20px;
}

.comment textarea {
    width: 100%;
    min-height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #EEE;
    border-radius: 4px;
    background-color: #FAFAFA;
    resize: none;
    color: #9E9E9E;
    font-size: 14px;
    font-weight: 400;
}

/* Comment Detail */
.content .items .review-info .info .col-12 .row.review .user {
    font-size: 14px;
	font-weight: 500;
	text-align: justify;
    margin: 0;
    padding: 0;
}

.content .items .review-info .info .col-12 .row.review .user img {
    height: 32px;
	width: 32px;
}

.content .items .review-info .info .col-12 .row.review .date-time {
    font-size: 12px;
    font-weight: 400;
    text-align: end;
    margin: 0;
    padding: 0;
}

.content .items .review-info .info .col-12 .row.review .comment {
    font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0px;
	text-align: justify;
}

.content .items .review-info .info .col-12 .reviewed-rating {
    margin: 2px 0;
}

.content .items .review-info .info .col-12 .reviewed-rating .Stars {
    font-size: 22px;
}

.content .items .review-info .info .col-12 .row.review .list-image {
    margin: 0;
    padding: 0;
}

.content .items .review-info .info .col-12 .row.review .list-image .reviewed-img-lst .col-5 {
    margin: 0;
    padding: 0;
}

.content .items .review-info .info .col-12 .row.review .list-image .reviewed-img-lst img {
    width: 100px;
    height: 100px;
    margin: 8px 0;
}

/* Rating */
:root {
    --star-size: 30px;
    --star-color: #fff;
    --star-background: #F0821B;
}

.Stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    line-height: 1;
}
.Stars::before {
    content: "★★★★★";
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Footer */

/* Responsive */
@media (min-width: 1200px) {
    .container {
        max-width: 1200px !important;
    }
}

@media (max-width: 768px)
{
    .content .items .detail-info .col-12.info {
        max-width: calc(100% - 16px);
    }

    .content .items .panels-selector .panel {
        font-size: 14px;
    }

    .content .items .review-info .info .col-12 {
        margin: 0;
        padding: 0 8px;
    }

    .content .items .review-info .info .col-12 .title, .content .items .review-info .info .col-12 .pack {
        margin-left: 16px;
        padding-right: 16px;
        text-align: left;
        line-height: 20px;
    }

    .content .items .review-info .info .create-bottom .btn-orange-bg {
        width: 100%;
        padding: 10px 20px;
    }
}