<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,600,700,300&subset=latin,vietnamese,latin-ext' rel='stylesheet' type='text/css'>
    <title>Document</title>
</head>
<body>
    <div class="filter-container">
        <p class="drop-filter-title">Đã chọn<span class="rmvall-txt"><span>Xóa tất cả</span></span></p>

        <div class="filter-tag-btn-container">
            <span>
                <div class="filter-tag-btn">
                    Hoàn Kiếm
                    <img src="img/white-cancel-icon.png" alt="" />
                </div>
            </span>
            <span>
                <div class="filter-tag-btn">
                    Múa rối nước
                    <img src="img/white-cancel-icon.png" alt="" />
                </div>
            </span>
        </div>
    </div>
    <div class="filter-container">
        <div class="border-div"></div>
        <p class="drop-filter-title">Địa điểm</p>

        <ul>
          <li class="dropdown">
            <input type="checkbox" />
            <a href="#" data-toggle="dropdown">
                <span class="dealtoday-checkbox">
                    <input type="checkbox" id="hanoi">
                    <label for="hanoi"></label>
                    <span>Hà Nội</span>
                </span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#">
                        <span class="dealtoday-checkbox">
                            <input type="checkbox" id="1" class="dealtoday-checkbox-chil">
                            <label for="1"></label>
                            <span>Ocean Park</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="dealtoday-checkbox">
                            <input type="checkbox" id="2" class="dealtoday-checkbox-chil">
                            <label for="2"></label>
                            <span>Gia Lâm</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="dealtoday-checkbox">
                            <input type="checkbox" id="3" class="dealtoday-checkbox-chil">
                            <label for="3"></label>
                            <span>Công viên nước Hồ Tây</span>
                        </span>
                    </a>
                </li>
            </ul>
          </li>
        </ul>

        <ul>
            <li class="dropdown">
              <input type="checkbox" />
              <a href="#" data-toggle="dropdown">
                  <span class="dealtoday-checkbox">
                      <input type="checkbox" id="0">
                      <label for="0"></label>
                      <span>Quảng Ninh</span>
                  </span>
              </a>
              <ul class="dropdown-menu">
                  <li>
                      <a href="#">
                          <span class="dealtoday-checkbox">
                              <input type="checkbox" id="1" class="dealtoday-checkbox-chil">
                              <label for="1"></label>
                              <span>Thiền viện Trúc Lâm</span>
                          </span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <span class="dealtoday-checkbox">
                              <input type="checkbox" id="2" class="dealtoday-checkbox-chil">
                              <label for="2"></label>
                              <span>Gia Lâm</span>
                          </span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <span class="dealtoday-checkbox">
                              <input type="checkbox" id="3" class="dealtoday-checkbox-chil">
                              <label for="3"></label>
                              <span>Công viên nước Hồ Tây</span>
                          </span>
                      </a>
                  </li>
              </ul>
            </li>
        </ul>

        <ul>
        <li class="dropdown">
            <input type="checkbox" />
            <a href="#" data-toggle="dropdown">
                <span class="dealtoday-checkbox">
                    <input type="checkbox" id="0">
                    <label for="0"></label>
                    <span>Hải Phòng</span>
                </span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#">
                        <span class="dealtoday-checkbox">
                            <input type="checkbox" id="1" class="dealtoday-checkbox-chil">
                            <label for="1"></label>
                            <span>Thiền viện Trúc Lâm</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="dealtoday-checkbox">
                            <input type="checkbox" id="2" class="dealtoday-checkbox-chil">
                            <label for="2"></label>
                            <span>Gia Lâm</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="dealtoday-checkbox">
                            <input type="checkbox" id="3" class="dealtoday-checkbox-chil">
                            <label for="3"></label>
                            <span>Công viên nước Hồ Tây</span>
                        </span>
                    </a>
                </li>
            </ul>
        </li>
        </ul>
    </div>
    <div class="filter-container">
        <div class="border-div"></div>

        <p class="drop-filter-title">Dịch vụ</p>

        <ul>
            <li class="dropdown">
            <input type="checkbox" />
            <a href="#" data-toggle="dropdown">
                <span class="dealtoday-checkbox">
                    <input type="checkbox" id="0">
                    <label for="0"></label>
                    <span>Vui chơi</span>
                </span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#">
                        <span class="dealtoday-checkbox">
                            <input type="checkbox" id="1" class="dealtoday-checkbox-chil">
                            <label for="1"></label>
                            <span>Vé xem phim</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="dealtoday-checkbox">
                            <input type="checkbox" id="2" class="dealtoday-checkbox-chil">
                            <label for="2"></label>
                            <span>Khu vui chơi</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="dealtoday-checkbox">
                            <input type="checkbox" id="3" class="dealtoday-checkbox-chil">
                            <label for="3"></label>
                            <span>Điểm tham quan</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="dealtoday-checkbox">
                            <input type="checkbox" id="3" class="dealtoday-checkbox-chil">
                            <label for="3"></label>
                            <span>Sân khấu nghệ thuật</span>
                        </span>
                    </a>
                </li>
            </ul>
            </li>
        </ul>

        <ul>
            <li class="dropdown">
                <input type="checkbox" />
                <a href="#" data-toggle="dropdown">
                    <span class="dealtoday-checkbox">
                        <input type="checkbox" id="0">
                        <label for="0"></label>
                        <span>Sự kiện văn hóa</span>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">
                            <span class="dealtoday-checkbox" class="dealtoday-checkbox-chil">
                                <input type="checkbox" id="1">
                                <label for="1"></label>
                                <span>Liveshow</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="dealtoday-checkbox" class="dealtoday-checkbox-chil">
                                <input type="checkbox" id="2">
                                <label for="2"></label>
                                <span>Bóng chuyền</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="dealtoday-checkbox" class="dealtoday-checkbox-chil">
                                <input type="checkbox" id="3">
                                <label for="3"></label>
                                <span>Cầu lông</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="dealtoday-checkbox" class="dealtoday-checkbox-chil">
                                <input type="checkbox" id="3">
                                <label for="3"></label>
                                <span>Di tích lịch sử</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="dealtoday-checkbox" class="dealtoday-checkbox-chil">
                                <input type="checkbox" id="3">
                                <label for="3"></label>
                                <span>Khóa học</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="dealtoday-checkbox" class="dealtoday-checkbox-chil">
                                <input type="checkbox" id="3">
                                <label for="3"></label>
                                <span>Triển lãm tranh</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="filter-container">
        <div class="border-div"></div>

        <p class="drop-filter-title">Thời gian</p>

        <div class="instant-check-container">
            <span class="text">Xác nhận tức thời</span>
            <div class="button">
                <input class="tgl tgl-light" id="cb1" name="cb1" type="checkbox" />
                <label class="tgl-btn" for="cb1"></label>
            </div>
        </div>    

        <div class="filter-date-picker-container">
            <div class="filter-date-picker">
                <div class="icon">
                    <img src="img/calendar-icon.png" alt=""/>
                </div>  
                <div class="text">
                    <span>Tìm theo ngày</span>
                </div>  
            </div>    
        </div>  
    </div>
</body>
</html>