body {
    font-family:'Roboto';
    background-color: #eee;
}

.container {
    width: 300px;
    margin: 0px auto;
    background-color: white;
    border-width: inherit;
    padding-bottom: 20px;
}
.container > ul {
    list-style: none;
    padding: 0;
    margin: 0px 5px 3px 0px;
}
.dropdown {
    position: relative;
    font-size: 16px;
}
.dropdown a {
    text-decoration: none;
}
.dropdown [data-toggle=dropdown] {
    display: block;
    color: black;
    font-weight: 600;
    background: white;
    padding: 5px 0 5px 10px;
}
.dropdown [data-toggle=dropdown]:before {
    position: absolute;
    display: block;
    content: url(img/filter-drop-icon.png);
    font-size: 0.7em;
    top: 8px;
    right: 10px;
    pointer-events: none;
}
.dropdown > .dropdown-menu {
    max-height: 0;
    overflow: hidden;
    list-style-type: none;
}
.dropdown > .dropdown-menu li {
    margin-left: -40px;
}
.dropdown > .dropdown-menu li a {
    display: block;
    color: black;
    background: white;
    padding: 5px 10px;
}
.dropdown > input[type=checkbox] {
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 28px;
    cursor: pointer;
}
.dropdown > input[type=checkbox]:checked ~ .dropdown-menu {
    max-height: 9999px;
    display: block;
}

.dropdown > .dropdown-menu .dealtoday-checkbox {
    padding-left: 15px;
}

.dropdown :hover {
    color:#F0821B;
}

.dealtoday-checkbox span {
    z-index: 5;
    pointer-events: none;
}

/*Checkbox*/
.dealtoday-checkbox {
    display: block;
}

.dealtoday-checkbox input {
    display: none;
}

.dealtoday-checkbox label {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 5px;
    padding: 0;
    position: relative;
    cursor: pointer;
}

.dealtoday-checkbox label:before {
    content:'';
    -webkit-appearance: none;
    background-color: #ffffff;
    border: 2px solid #cdcdcd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 8px;
    display: inline-block;
    position: relative;
    border-radius: 5px;
    border-width: 2px;
    vertical-align: middle;
    cursor: pointer;
}

.dealtoday-checkbox input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 3.5px;
    left: 6px;
    width: 4px;
    height: 9px;
    border: solid #ffffff;
    border-width: 0 3.1px 3.1px 0;
    border-radius: 2px;
    transform: rotate(45deg);
    background: #F0821B;    
}

.dealtoday-checkbox input:checked + label:before {
    border-color:transparent;
    background-color: #F0821B;
}

.drop-filter-title {
    font-weight: 600;
    padding: 15px 10px 5px 8px;
    margin: 0;
    font-size: 16px;
}

.rmvall-txt {
    float:right;
    vertical-align: middle;
    font-weight: 500;
    font-size: 13px;
}

.rmvall-txt :hover {
    color: #F0821B;
    cursor: pointer;
}

.filter-tag-btn-container {
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    margin: 10px 2px;
}

.filter-tag-btn-container :hover {
    opacity: 0.9;
    cursor: pointer;
}

.filter-tag-btn {
    background-color: #F0821B;
    box-sizing: border-box;
    padding: 5px 10px; 
    margin: 0 5px;
    border-radius: 8px;
    width: fit-content;
    color: white;
    font-size: 13px;
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.filter-tag-btn img {
    padding-left: 8px;
}

.filter-date-picker-container {
    width: 100%;
    margin: 30px 0 0 0;
}

.filter-date-picker {
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    display: flex;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    padding: 5px 10px;
    width: 90%;
}

.filter-date-picker .icon{
    height: 100%;
    border-right: 1px solid #cdcdcd;
    padding: 0 8px 0 0;
}

.filter-date-picker .text{
    font-weight: 500;
    font-size: 13px;
    padding: 0 10px;
}

.instant-check-container {
    margin: 0 auto;
    font-size: 16px;
    font-weight: 500;
    width: 90%;
    padding: 10px 0 15px 5px;
}

.instant-check-container .text{
    float: left;
}

.instant-check-container .button{
    float: right;
}

/*instant-check status button*/
.tgl {
    display: none;
  }
  .tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
    box-sizing: border-box;
  }
  .tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
    background: none;
  }
  .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 1.8em;
    height: 1em;
    position: relative;
    cursor: pointer;
    user-select: none;
  }
  .tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
  }
  .tgl + .tgl-btn:after {
    left: 0;
  }
  .tgl + .tgl-btn:before {
    display: none;
  }
  .tgl:checked + .tgl-btn:after {
    left: 50%;
  }
  
  .tgl-light + .tgl-btn {
    background: #f0f0f0;
    border-radius: 2em;
    padding: 2px;
    transition: all 0.4s ease;
  }
  .tgl-light + .tgl-btn:after {
    border-radius: 50%;
    background: #fff;
    transition: all 0.2s ease;
  }
  .tgl-light:checked + .tgl-btn {
    background: #F0821B;
  }

  .border-div {
    width: 90%;
    margin: 0 auto;
    border: 1px solid #F5F5F5;
  }