<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
    <link href="https://id.dealtoday.vn/assetQR/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="apple-itunes-app" content="app-id=1063926571, affiliate-data=myAffiliateData /">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="google-play-app" content="app-id=vn.dealtoday.android">
    <link rel="stylesheet" href="./assets/style/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/style/style.css">
    <script src="./assets/js/jquery-2.1.4.min.js.download"></script>
</head>
<body>
<div class="wrapper">
    <a onclick="openMenuPopup('#warning')">
        <span>Nhiều địa điểm</span>
    </a>
    <div class="warning-container" id="warning" onclick="if(event.target == this){closePopup('#warning');}" aria-hidden="true">
        <div class="warning-wrapper">
            <div class="row">
                Tài khoản vanannguyen@gmail.com đã tồn tại trên hệ thống. Vui lòng đăng nhập để thuận tiện trong quá trình thanh toán
            </div>
        </div>
    </div>
</div>
<script>
    function openMenuPopup(popup) {
        /*$("#loading").show();*/
        $(popup).show().attr("aria-hidden", "false");
        /*$("#loading").hide();*/
    }
    function closePopup(popup) {
        $(popup).hide().attr("aria-hidden", "true");
    }
</script>
</body>
</html>