body {
    background: #f2f2f7;
    position: relative; 
    min-height: 100%; 
    top: 0px;
}

/*popup*/
#warning {
    display: none;
}

.warning-container {
    position: fixed;
    background: rgba(100, 100, 100, 0.6);
    display: none;
    z-index: 999;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.warning-wrapper {
    position: fixed;
    max-height: 100%;
    overflow: auto;
    overflow-x: hidden;
    max-width: 300px;
    width: 80%;
    left: 50%;
    top: 15%;
    background: #FFFFFF;
    transform: translate(-50%, 0);
    padding: 16px 36px;
    border-radius: 8px;
    font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.25px;
	text-align: left;
	background-color: #FFE3E5;
    color: #E8141F;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px, rgba(0, 0, 0, 0.05) 0px 2px 2px, rgba(0, 0, 0, 0.05) 0px 4px 4px, rgba(0, 0, 0, 0.05) 0px 8px 8px, rgba(0, 0, 0, 0.05) 0px 16px 16px;
}